asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
asyncpg==0.29.0
contourpy==1.3.0
cycler==0.12.1
fonttools==4.53.1
importlib_resources==6.4.4
kiwisolver==1.4.7
matplotlib~=3.10.3
munch==4.0.0
numpy~=2.2.6
packaging==24.1
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
six==1.16.0
zipp==3.20.1
pandas~=2.2.3
scikit-learn~=1.6.1
pydantic~=2.11.7
structlog~=25.4.0
colorama~=0.4.6
pyhypergeomatrix==0.1.0